/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
}

#app {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem; */

/*   background-color: #64748b; 

  color: #262626;
  font-family: "Poppins", sans-serif;
}
 */
